*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_container{
    width: 100%;
    height: 2000px;
    background-color: green;
}

 /* css dell'header */
header{
    height: 100px;
    background-color: #add8e6;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* css del menù */
.row_menu{
    width: 900px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    background-color: orange;
}

/* css 3 colonne header */
.col-25{
    width: 25%;
    height: 100%;
    border: 1px dotted black;
    display: flex;
    align-items: center;
}

.login{
    justify-content: flex-end;
}

.col-50{
    width: 50%;
    height: 100%;
    border: 1px dotted black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* css colori bg_main + dimensioni */
.bg {
    width: 100%;
    height: 500px;
}

.blu{
    background-color: #00008b;
}

.white{
    background-color: white;
}

.grey{
    background-color: #d3d3d3;
}

.black{
    background-color: #23272a;
}